/* 오늘의 쇼핑 제안 */
/* 헤더 영역 */
.header {
  margin: 10rem auto 4.8rem;
  width: 102rem;
}

.brand {
  margin-top: 0;
  margin-bottom: 0;
}

.brand__link {
  display: block;
  height: 4rem;
}

.brand__image {
  width: auto;
  height: 100%;
}

/* 상품 리스트 영역 */
.offer {
  margin: 0 auto;
  width: 102rem;
}

.offer__title {
  padding-left: 3.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  background: url(./../../assets/icon/shopping.svg) no-repeat;
}

/* 리스트 영역 */
.offer__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2.4rem 0;
  padding-left: 0;
  list-style: none;
}

.offer__item {
  width: 20rem;
  height: 27rem;
}

.offer__link {
  display: block;
  padding: 1.4rem;
}

.product {
  position: relative;
}

.product__card {
  margin: 0;
  text-align: center;
}

.product__caption {
  margin: 1.2rem 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 1.2;
}

.product__discount {
  position: absolute;
  padding: 0.3rem 1rem;
  top: 0;
  left: 0;
  border-bottom-right-radius: 0.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-red-600);
}

.ratingStar {
  display: inline-block;
  width: 6.8rem;
  height: 1.2rem;
  background-image: url(./../../assets/sprites/rating-stars.png);
}

.score4 {
  background-position: 0 -112px;
}

.score4-5 {
  background-position: 0 -126px;
}

.score5 {
  background-position: 0 -140px;
}

.product .free {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-gray-700);
}

.product .review {
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--color-gray-700);
}

.product__ratingStar, .product__review {
  display: inline-block;
}